@model IEnumerable<Core.Models.Quiz>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Onderwerp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moeilijkheidsgraad)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Onderwerp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Beschrijving)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Moeilijkheidsgraad.Titel)
                </td>
                <td>
                    <a class="c-btn--speel" asp-action="Speel" asp-route-id="@item.Id">Speel</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (User.IsInRole("Admin"))
{
    <div class="c-btn">
        <a class="c-btn--self" asp-action="NieuweQuiz">Maak een nieuwe quiz</a>
    </div>

}

<style>
    .c-btn {
        display:flex;
        justify-content:center;
        margin: 44px;
    }

    .c-btn--self{
        background-color: #DF691A;
        color: #2B3E50;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        padding: 1rem 1rem;
        font-size: 1rem;
        border-radius: 8px;
        font-weight: bold;
        transition: 0.3s;
    }

    .c-btn--self:hover{
        color: white;
        text-decoration: none;
    }

    .c-btn--speel{
        color: #DF691A; !important
    }
    .table a:not(.btn) {
      color: #DF691A;
      text-decoration: underline;
    }
</style>