@model Core.Models.Quiz

@{
    ViewData["Title"] = "Speel";
}

<h1>Speel</h1>

<div class="c-quiz">
    <h4>Quiz</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Onderwerp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Onderwerp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beschrijving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beschrijving)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moeilijkheidsgraad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moeilijkheidsgraad.Titel)
        </dd>
    </dl>

    <h2>Vragen</h2>
    <form class="c-quiz__vragen" method="post" asp-action="speel">
        @for (int i = 0; i < Model.Vragen.Count; i++)
        {
            var vraag = Model.Vragen.ToList()[i];
            <div>
                <div class="c-quiz__vraag">
                    <div class="c-quiz__vraag--titel">@vraag.Titel </div>
                    <div class="c-quiz__vraag--vraag">@vraag.Beschrijving</div>
                    <div>
                        @if (vraag.AfbeeldingURL != null)
                        {
                            <img class="c-quiz__vraag--img" src="~/images/@vraag.AfbeeldingURL" alt="afbeelding van @vraag.Titel" />
                        }
                        </div>
                </div>
                <div class="c-quiz__antwoorden">
                    @foreach (var antwoord in vraag.Antwoorden)
                    {
                        <input class="c-quiz__radiobtn" type="radio" value="@antwoord.Id" name="antwoorden[@i]" id="@antwoord.Id"/>
                        <label class="c-quiz__antwoord" for="@antwoord.Id">
                            <span>@antwoord.Omschrijving</span>
                            @if (antwoord.AfbeeldingURL != null)
                            {
                                <img class="c-quiz__antwoord-img" src="~/images/@antwoord.AfbeeldingURL" alt="afbeelding van @antwoord.Omschrijving" />

                            }
                        </label>
                    }
                </div>
            </div>
            <hr class="c-streep"/>
        }
        <div class="c-btn">
            <button class="c-btn--self">Antwoorden indienen</button>
        </div>
    </form>

</div>

<style >
    .c-quiz{

    }

    .c-quiz__vragen{

    }

    .c-quiz__vraag{
        display: flex;
        margin: 24px;
        background-color: white;
        padding: 24px;
        border-radius: 8px;
        color: black;
        flex-direction: column;
        align-items: center;
    }

    .c-quiz__vraag--titel{
        font-size: 24px;
    }

    .c-quiz__vraag--vraag{
        font-size: 20px;
        margin: 12px 0 24px 0;
    }


    .c-quiz__vraag--img{
        height:100px;
        margin: 12px 0 12px 0;
    }

    .c-quiz__antwoorden{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        margin: 24px;
    }

    .c-quiz__radiobtn{
        display:none;
    }
    .c-quiz__radiobtn:checked + .c-quiz__antwoord{
        background-color: #DF691A;
        color: white;
    }

    .c-quiz__radiobtn:hover + .c-quiz__antwoord{
        background-color: #DF691A;
        color: white;
        transition: 0.2s;
    }

    .c-quiz__antwoord{
        border: 1px solid transparent;
        background-color: white;
        color: black;
        padding: 20px;
        border-radius: 8px;
        font-size: 16px;
    }

    .c-streep{
        margin: 80px 0 80px 0;
    }

    .c-btn {
        display:flex;
        justify-content:center;
        margin: -20px 0 44px 0;
    }

    .c-btn--self{
        background-color: #DF691A;
        color: #2B3E50;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        padding: 1rem 1rem;
        font-size: 1rem;
        border-radius: 8px;
        font-weight: bold;
        transition: 0.3s;
    }

    .c-btn--self:hover{
        color: white;
        text-decoration: none;
    }


</style>